{% extends 'base.html.twig' %}
{% block title %}Eleve index{% endblock %}
{% block body %}
{{ parent() }}
<div class="app-content content">
   <div class="content-overlay"></div>
   <div class="header-navbar-shadow"></div>
   <div class="content-wrapper">
      <div class="content-header row">
         <div class="content-header-left col-md-9 col-12 mb-2">
            <div class="row breadcrumbs-top">
               <div class="col-12">
                  <h2 class="content-header-title float-left mb-0">Liste des Eleves :</h2>
                  <div class="breadcrumb-wrapper col-12">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('eleve_index') }}">Eleve</a>
                        </li>
                        <li class="breadcrumb-item active">Liste
                        </li>
                     </ol>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <section id="basic-datatable">
         <div class="row">
            <div class="col-12">
               <div class="card">
                  <div class="card-header">
                     <h4 class="card-title">Liste des Eleves</h4>
                  </div>
                  <div class="card-content">
                     <div class="card-body card-dashboard">
                        <button id="addRow" class="btn btn-primary mb-2 waves-effect waves-light"><i class="feather icon-plus"></i>&nbsp;<a href="{{ path('eleve_new') }}">Create new</a></button>
                        
                        <div class="table-responsive">
                           <table class="table zero-configuration">
                              <thead>
                                 <tr>
                                    <th>IdEleve</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Transport</th>
                <th>DtInscription</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>actions</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 {% for eleve in eleves %}
                                 <tr>
                                    <td>{{ eleve.idEleve }}</td>
                                    <td>{{ eleve.nom }}</td>
                                    <td>{{ eleve.prenom }}</td>
                                    <td>{{ eleve.transport ? 'Yes' : 'No' }}</td>
                                    <td>{{ eleve.dtInscription ? eleve.dtInscription|date('Y-m-d') : '' }}</td>
                                    <td>{{ eleve.email }}</td>
                                    <td>{{ eleve.tel }}</td>
                                    <td>{{ eleve.type }}</td>
                                    <td>{{ eleve.niveau }}</td>
                                    <td>
                                       <a class="btn btn-icon btn-outline-primary mr-1 mb-1 waves-effect waves-light" href="{{ path('eleve_show', {'idEleve': eleve.idEleve}) }}"><i class="feather icon-search"></i></a>
                                       <a class="btn btn-icon btn-outline-primary mr-1 mb-1 waves-effect waves-light" href="{{ path('eleve_edit', {'idEleve': eleve.idEleve}) }}"><i class="feather icon-edit"></i></a>
                                    </td>
                                 </tr>
                                 {% else %}
                                 <tr>
                                    <td colspan="10">no records found</td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                              <tfoot>
                                 <tr>
                                    <th>IdEleve</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Transport</th>
                <th>DtInscription</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>actions</th>
                                 </tr>
                              </tfoot>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/pdfmake.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/vfs_fonts.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/datatables.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/buttons.html5.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/buttons.print.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js') }}"></script>
<script src="{{ asset('/app-assets/vendors/js/forms/select/select2.full.min.js') }}"></script>
<script src="{{ asset('app-assets/js/core/app-menu.js') }}"></script>
<script src="{{ asset('app-assets/js/core/app.js') }}"></script>
<script src="{{ asset('app-assets/js/scripts/components.js') }}"></script>
<script src="{{ asset('app-assets/js/scripts/forms/select/form-select2.js') }}"></script>
<script src="{{ asset('app-assets/js/scripts/datatables/datatable.js') }}"></script>
{% endblock %}