{% extends 'base.html.twig' %}

{% block title %}Professeur index{% endblock %}

{% block body %}
    {{ parent() }}
    <h4 style="margin-top:100px;"></h4>
    <h1>Eleve</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEleve</th>
                <td>{{ eleve.idEleve }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ eleve.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ eleve.prenom }}</td>
            </tr>
            <tr>
                <th>Transport</th>
                <td>{{ eleve.transport ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DtInscription</th>
                <td>{{ eleve.dtInscription ? eleve.dtInscription|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ eleve.email }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ eleve.tel }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ eleve.type }}</td>
            </tr>
            <tr>
                <th>Niveau</th>
                <td>{{ eleve.niveau }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('eleve_index') }}">back to list</a><br>

    <a href="{{ path('eleve_edit', {'idEleve': eleve.idEleve}) }}">edit</a><br>
    <a href="{{ path('affectation_new',{'ideleve': eleve}) }}">affecter {{ eleve.nom }} {{ eleve.prenom }}  a une matiere</a>
    {{ include('eleve/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
    <script src="{{ asset('app-assets/js/core/app-menu.js') }}"></script>
    <script src="{{ asset('app-assets/js/core/app.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/components.js') }}"></script>
{% endblock %}