
{{ form_start(form) }}
{{ form_label(form.dtPaiement) }}
    {{ form_widget(form.dtPaiement) }}
    {{ form_label(form.mode) }}
    {{ form_widget(form.mode) }}
    {{ form_label(form.idEleve) }}
    {{ form_widget(form.idEleve) }}

    <fieldset> 
                <legend>Matiere a payé:</legend> 
    {{ form_label(form.idMatiere, 'Matiere') }}
    {{ form_widget(form.idMatiere) }}
    {{ form_label(form.PrixMatiere,'Prix') }}
    {{ form_widget(form.PrixMatiere) }}
    {{ form_label(form.PrixPaye,'Paye') }}
    {{ form_widget(form.PrixPaye) }}
    </fieldset> 
    <br>
    <a id="btn1"><i class="fa fa-plus-circle fa_custom fa-3x"></i></a>
    
<fieldset id="add1"> 
                <legend>Matiere a payé:</legend> 
    {{ form_label(form.idMatiere1, 'Matiere') }}
    {{ form_widget(form.idMatiere1) }}
    {{ form_label(form.PrixMatiere1,'Prix') }}
    {{ form_widget(form.PrixMatiere1) }}
    {{ form_label(form.PrixPaye1,'Paye') }}
    {{ form_widget(form.PrixPaye1) }}
    <br>
    <a  id="btn2"><i class="fa fa-plus-circle fa_custom fa-3x"></i></a>
    </fieldset> 
  <fieldset id="add2"> 
                <legend>Matiere a payé:</legend> 
    {{ form_label(form.idMatiere2, 'Matiere') }}
    {{ form_widget(form.idMatiere2) }}
    {{ form_label(form.PrixMatiere2,'Prix') }}
    {{ form_widget(form.PrixMatiere2) }}
    {{ form_label(form.PrixPaye2,'Paye') }}
    {{ form_widget(form.PrixPaye2) }}
    </fieldset>
    <br><br>
{{ form_label(form.montantTotal, 'Total') }}
    {{ form_widget(form.montantTotal) }}
    {{ form_label(form.motantRest, 'Reste total a payée') }}
    {{ form_widget(form.motantRest) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var $sport;
    $sport = $('#paiement_idMatiere');
    $sport1 = $('#paiement_idMatiere1');
    $sport2 = $('#paiement_idMatiere2');
    $val=$('#paiement_montantTotal');
    $val1= $('#paiement_motantRest');
    $PrixMatiere=$('#paiement_PrixMatiere');
    $PrixMatiere1=$('#paiement_PrixMatiere1');
    $PrixMatiere2=$('#paiement_PrixMatiere2');
    $Prixpaye=$('#paiement_PrixPaye');
    $Prixpaye1=$('#paiement_PrixPaye1');
    $Prixpaye2=$('#paiement_PrixPaye2');
     $('#paiement_motantRest').prop("disabled", true);
    $('#paiement_montantTotal').prop("disabled", true);
    $('#add1').hide();
     $('#add2').hide();
     $( "#btn1" ).click(function() {
   $('#add1').show();
   $('#btn1').hide();
});
$( "#btn2" ).click(function() {
   $('#add2').show();
   $('#btn2').hide();
});
$Prixpaye.val(0);$Prixpaye1.val(0);$Prixpaye2.val(0);
$("input:disabled").val(0);
 var $form = $(this).closest('form');
$sport.change(function(){
     var data = {id_matiere : $sport.val()};
        $.ajax({
            url : $form.attr('action'),
            type: 'GET',
            data : data,
            success: function(html) {
                $('#paiement_PrixMatiere').replaceWith(
                    $(html).find('#paiement_PrixMatiere')
                );
                 },
            complete: function(){
                $("#paiement_montantTotal").val(parseInt($Prixpaye.val())+parseInt($Prixpaye1.val())+parseInt($Prixpaye2.val()));
                $("#paiement_motantRest").val(parseInt($val.val())-parseInt($PrixMatiere2.val())+parseInt($PrixMatiere1.val())+parseInt($PrixMatiere.val()));
        }
        })
});
$sport1.change(function(){
     var data = {id_matiere2 : $sport1.val()};
    try {
        $.ajax({
            url : $form.attr('action'),
            type: 'GET',
            data : data,
            success: function(html) {
                $('#paiement_PrixMatiere1').replaceWith(
                    $(html).find('#paiement_PrixMatiere1')
                );
                 if(html.success == true ){  
                     $("#paiement_montantTotal").val(parseInt($Prixpaye.val())+parseInt($Prixpaye1.val())+parseInt($Prixpaye2.val()));
                    $("#paiement_motantRest").val(parseInt($PrixMatiere2.val())+parseInt($PrixMatiere1.val())+parseInt($PrixMatiere.val())-parseInt($val.val()));
                }
            },
            })
    } catch (error) {
        console.error(error);
    }
                 
});
$sport2.change(function(){
     var data = {id_matiere3 : $sport2.val()};
        $.ajax({
            url : $form.attr('action'),
            type: 'GET',
            data : data,
            success: function(html) {
                $('#paiement_PrixMatiere2').replaceWith(
                    $(html).find('#paiement_PrixMatiere2')
                );
             $("#paiement_montantTotal").val(parseInt($Prixpaye.val())+parseInt($Prixpaye1.val())+parseInt($Prixpaye2.val()));
             $("#paiement_motantRest").val(parseInt($PrixMatiere2.val())+parseInt($PrixMatiere1.val())+parseInt($PrixMatiere.val())-parseInt($val.val()));
        }
        })
});
</script>

