{% extends 'base.html.twig' %}

{% block title %}Paiement{% endblock %}
{% block body %}
{{ parent() }}
    <h1>Paiement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id Paiement</th>
                <td>{{ paiement.idPaiement }}</td>
            </tr>
            <tr>
                <th>Date Paiement</th>
                <td>{{ paiement.dtPaiement ? paiement.dtPaiement|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Mode</th>
                <td>{{ paiement.mode }}</td>
            </tr>
            <tr>
                <th>Montant Total</th>
                <td>{{ paiement.montantTotal }}</td>
            </tr>
            <tr>
                <th>Motant Rest</th>
                <td>{{ paiement.motantRest }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('paiement_index') }}">back to list</a>

    <a href="{{ path('paiement_edit', {'idPaiement': paiement.idPaiement}) }}">edit</a>

    {{ include('paiement/_delete_form.html.twig') }}
{% endblock %}
