{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/path/to/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}

{% block title %}Professeur index{% endblock %}

{% block body %}
    {{ parent() }}
    <h4 style="margin-top:100px;">Rechercher :</h4>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    <h1>Liste des Professeurs </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Niveau </th>
                <th>Matiere</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for professeur in professeurs %}
            <tr>
                <td>{{ professeur.id }}</td>
                <td>{{ professeur.nom }}</td>
                <td>{{ professeur.prenom }}</td>
                <td>{{ professeur.tel }}</td>
                <td>{{ professeur.idMatiere|first }}</td>
                <td>{{ professeur.idMatiere|slice(1, 10) }}</td>
                <td>
                    <a href="{{ path('professeur_show', {'id': professeur.id}) }}">show</a>
                    <a href="{{ path('professeur_edit', {'id': professeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('professeur_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
 
<script>
    var $sport;
    $sport = $('#professeur_search_module');
    $('#professeur_search_id_professeur').hide();
    $sport.change(function() {
        $('#professeur_search_id_professeur').show();
        var $form = $(this).closest('form');
        var data = {module : $sport.val()};
        console.log(data);
        $.ajax({
            url : $form.attr('action'),
            type: 'GET',
            data : data,
            success: function(html) {
                $('#professeur_search_id_professeur').replaceWith(
                    $(html).find('#professeur_search_id_professeur')
                );
            }
        });
    });
</script>

    <script src="{{ asset('app-assets/js/core/app-menu.js') }}"></script>
    <script src="{{ asset('app-assets/js/core/app.js') }}"></script>
    <script src="{{ asset('app-assets/js/scripts/components.js') }}"></script>

{% endblock %}