{% extends 'base.html.twig' %}

{% block title %}New Seance{% endblock %}

{% block body %}
    {{ parent() }}

<div class="app-content content">
<div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Créer une Niveau :</h2>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{{ path('app_home') }}">Accueil</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{{ path('niveau_index') }}">Niveau</a>
                                    </li>
                                    <li class="breadcrumb-item active">Nouveau
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
                    <div class="form-group breadcrum-right">
                        <div class="dropdown">
                            <button class="btn-icon btn btn-primary btn-round btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-settings"></i></button>
                            <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Chat</a><a class="dropdown-item" href="#">Email</a><a class="dropdown-item" href="#">Calendar</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic Inputs start -->
                <section id="basic-input">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Ajouter</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-xl-4 col-sm-6 col-12 mb-1">
                                                <fieldset class="form-group">


    {{ include('niveau/_form.html.twig') }}
 
 </fieldset>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12 mb-1">
                                                <fieldset class="form-group">
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Basic Inputs end -->




    
    </div>
   
    
 </fieldset>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12 mb-1">
                                                <fieldset class="form-group">
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                  
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Basic Inputs end -->



<a href="{{ path('niveau_index') }}">back to list</a>
    
    </div>

{% endblock %}
{% block javascripts %}
{{ parent() }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ asset('app-assets/vendors/js/vendors.min.js') }}"></script>
<script src="{{ asset('app-assets/js/core/app-menu.js') }}"></script>
<script src="{{ asset('app-assets/js/core/app.js') }}"></script>
<script src="{{ asset('app-assets/js/scripts/components.js') }}"></script>
<script src="{{ asset('app-assets/js/scripts/forms/select/form-select2.js') }}"></script>
{% endblock %}
