{% extends 'base.html.twig' %}

{% block title %}Affectation index{% endblock %}
{% block body %}
{{ parent() }}
    <h1>Affectation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ affectation.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ affectation.jour ? affectation.jour|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Paye</th>
                <td>{{ affectation.paye }}</td>
            </tr>
            <tr>
                <th>Reste</th>
                <td>{{ affectation.reste }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('affectation_index') }}">back to list</a>

    <a href="{{ path('affectation_edit', {'id': affectation.id}) }}">edit</a>

    {{ include('affectation/_delete_form.html.twig') }}
{% endblock %}

